header.home--head
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5)
	height: 60px
	font:
		family: 'Open Sans', sans-serif
	background-color: #FFF
	a.logo
		color: #fff
		text-align: center
		font-size: 11px
		width: 200px
		height: 65px 
		display: block
		background-color: $accent
		img.sayyo 
			margin-top: 8px
	nav.head--nav
		margin-left: 30px
		ul li 
			line-height: 60px
			display: inline-block
			margin-left: -4px
			a 
				display: inline-block
				font:
					weight: 400
					size: 14px
				color: $dark--color
				padding: 0 12px
				+transition
				&:hover
					color: $links--color
	.search
		margin-left: 80px
		margin-top: 15px
		border: 1px solid $green--color
		padding: 7px 20px 7px 17px
		height: 16px
		border-radius: 20px
		overflow: hidden
		position: relative
		input
			display: block
			line-height: 1.1
			font-size: 13px
			margin: 0
			padding: 0
			border: none
			&:focus
				outline: none
		input.search--a
			margin-right: 10px
			color: $muted
			font-size: 13px
		input.search--b
			position: absolute
			right: 7px
			height: 100%
			background: 
				image: url(../img/search--b.png)
				repeat: no-repeat
				position: center
				color: transparent
			top: -1px
			width: 20px

			padding: 13px 13px 13px 10px
	.in--out
		margin-left: 75px
		margin-top: -5px
		.login, .logout
			display: flex
			align-items: center
			i 
				font-size: 15px
				margin-right: 5px
		a.in, a.out
			color: $dark--color
			font-size: 12px
			line-height: 1.18
			border-bottom: 1px solid $dark--color
			+transition
			&:hover
				border-bottom: none
				color: $links--color
		.login
			margin-right: 10px

			 
